<a class="button-link" id="timecamp-track">

</a>



var $add_time = $('<button id="add-manual-time">+</button>'),
$duration = $('<input type="text" id="manual-duration" value="" placeholder="hours" />'),
$hours = $('<div id="timecamp-hours">Total Hours: <div class="hours"></div></div>');


button.append($('<div id="trello-manual-duration"><div class="load-screen"></div></div>').append($duration).append($add_time).append($hours));
